main{
  width: 100vw;
  display: flex;
  overflow-x: hidden ;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  &>section{
    margin-top: 10vh;
    width: 60vw;
    overflow-x: hidden ;

    &>div:nth-child(1){
      display: flex;
      justify-content: flex-end;
    }
    &>div:nth-child(2){
      margin-top: 5vh;
      height: 110vh;
      display: grid ;
      gap: 20px;
      row-gap: 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: center;
      &>div{
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      align-items: center;
        &>div:nth-child(1){
          width: 100%;
          height: 30vh;
          // border: 1px solid black;
          display: flex;
          flex-direction: column;
          align-items: center;
          &>div:nth-child(1){
            width: 100%;
            height: 25vh;
            // border: 1px solid red;
            // background-color: #610000;
            position: relative;
            z-index: -2;
          }
          
          &>div:nth-child(2){
            width: 7vw;
            height: 20vh;
            // border: 1px solid rgb(109, 67, 67);
            position: absolute;
            margin-top: 10vh;
            z-index: -1;
            display: flex;
            align-items: center;
            // align-items: flex-end;
            // align-items: flex-start;
            justify-content: center;
            &>img{
              // margin-top: -2vh;
              width: 200%;
            }
          }
        }
        &>div:nth-child(2){
          
        }
      }
    }
  }
}

#headBg{
  height: 35vh;
  width: 100vw;
  // background-color: #c4c4c4;
  &>div:nth-child(1){
    position: absolute;
    z-index: -1;
    &>.dark{
      height: 35vh;
      width: 100vw;
      position: absolute;
      background-color:rgba(0, 0, 0, 0.3);
    }
    &>div:nth-child(2){
      height: 35vh;
      width: 100vw;
      background-image: url(/mark_up/image/page-bg/coffee_bg.png);
    }
  }
} 


.menu-left{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // border: 1px solid red;
  &>div{
    margin-top: 2vh;
    margin-left: 15vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &>div:nth-child(1){
      position: relative;
      left: -3vw;
    }
    &>div:nth-child(2){
      color: var(--color-3);
      &>h2{
        font-weight: 500;
        font-size: 1.5rem;
      }
      &>p{
        margin-top: 1vh;
        font-size: 0.9rem;
        font-weight: 100;
      }
    }
    &>div:nth-child(3){
      position: relative;
      left: 3vw;
    }
  }
}

.menu-line{
  width: 25vw;
  height: 1px;
  margin: 2vh;
  background: linear-gradient(to right, rgba(249, 246, 222,0),  rgb(249, 246, 222,1),rgba(249, 246, 222,0));
}



.cafe_latte{
  margin-left: 2vw;
}

.mocha{
  &>img{
    margin-top: -5vh;
  }
}

.latte{
  &>img{
  margin-left: 2vw;

    margin-top: -2vh;
  }
}

.top{
  &>img{
    margin-top: -3vh;
  }
}

.top2{
  &>img{
    margin-top: -4vh;
  }
}
.bottom{
  &>img{
    margin-bottom: -2vh;
  }
}

